.item-list-container {
    padding: 0 25px 50px 25px;
}

h1.site-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
    padding: 50px 15px;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
}

.item-btn {
    margin-left: 10px;
}

.item-count {
}