.not-found-container {
    display: flex;
    justify-content: center;
}

.not-found-img {
    width: 300px;
    display: flex;
    margin-top: 10%;
}

.not-found-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 38px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}